:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --outfit: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.3rem;
    color: var(--slate-900);
    line-height: 1.2;
}

p {
    font-size: 0.9rem;
    color: var(--slate-500);
    line-height: 1.5;
}

body {
    background-color: var(--slate-300);
    font-family: var(--outfit);
}

.wrapper {
    display: grid;
    grid-template-rows: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 300px;
    background-color: var(--white);
    padding: 0.75rem;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out
}

.card:hover {
    box-shadow:0px 4px 8px 2px rgba(174, 188, 185, 0.63); /*(inset), offset-x, offset-y, blur-radius, spread-radius color-value*/
}

/* 

offset-x means that the how much x-axsis or horizontal the shadow go if 4px then it will go 4px to positive x whereas -4px would go negative 4px.

blur is just bluring the shadow if no blur is added the shadow is sharp.

spread-radius meaning how far the shadow be away from the container.

inset is to make the shadows come on top of the container then in the bottom which make it feel like the card is pressed on the page.
*/

.card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

img {
    width: 100%;
    border-radius: 0.5rem;
}
